.git
.gitignore
.gitattributes

__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
.venv/
.ml_env/
.vscode/
.idea/

car_parking/csv_files/*.csv
uk_plate_recognition/data/
uk_plate_recognition/notebooks/
uk_plate_recognition/outputs/
uk_plate_recognition/.pytest_cache/
uk_plate_recognition/checkpoints/**
!uk_plate_recognition/checkpoints/
!uk_plate_recognition/checkpoints/custom_data_cnn_v2/
!uk_plate_recognition/checkpoints/custom_data_cnn_v2/plate_cnn_final.pt
